<header class="header header-5">
  <div class="dbms-nav-container dbms-app-padding">
    <div class="header-nav" *ngIf="navbarVisible$ | async">
      <ng-container *ngFor="let link of links$ | async">
        <a [routerLink]="link.path" routerLinkActive="active" class="nav-link">
          <span class="title">{{ link.text }}</span>
        </a>
      </ng-container>
    </div>

  </div>
</header>
<nav class="subnav" *ngIf="subnavVisible$ | async">
  <ul class="nav">
    <ng-container *ngFor="let link of subnavLinks$ | async">
      <li class="nav-item">
        <a [routerLink]="link.path" routerLinkActive="active" class="nav-link">
          <span class="title">{{ link.text }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
