<dbms-nav class="dbms-overlay-nav"></dbms-nav>

<div class="content-container dbms-layout-container">
  <div class="content-area dbms-layout-container dbms-app-padding">
    <router-outlet></router-outlet>
  </div>
</div>

