<div class="dbms-align-center">
  <div class="card dbms-home-card">
    <div class="card-header dbms-align-center">
      Database Management Systems
    </div>
    <div class="card-block">
      <div class="card-text">
        An introduction to database operations and schedules
      </div>
    </div>
    <div class="card-footer dbms-align-center">
      <button class="btn btn-primary btn-outline" (click)="handleStartClick()">Start</button>
    </div>
  </div>

</div>
