<div class="dbms-align-center">
  <div class="card dbms-operations-card">
    <div class="card-block">
      <div class="card-title">
        Operations
      </div>
      <div class="card-text">
        Operations are the basic building blocks of transactions.
        These building blocks consist of the following:
        <br>
        <ul>
          <li>
            Read
          </li>
          <li>
            Write
          </li>
          <li>
            Abort
          </li>
          <li>
            Commit
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer dbms-align-center">
    </div>
  </div>

</div>
