@use 'styles/variables' as variables;

html,
body,
dbms-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  + * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

body {
  overflow: hidden;
  margin: 0;
}

.dbms-align-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.dbms-app-padding {
  padding: 0 5%;
}

.dbms-layout-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: variables.$layout-background-color
}

.dbms-overlay-nav {
  z-index: 1500;
}

.dbms-overlay-base {
  z-index: 500
}

.dbms-overlay-above {
  z-index: 1000
}

.dbms-overlay-below {
  z-index: 0
}
